/*---GLOBAL----*/
html, body {
    font-size: 16px;
    font-family: 'Neue Haas Grotesk Display Pro', Roboto, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #1a1e22;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.websiteBackgroundColor {
    background-image: url('../assets/backgrounds/websiteBackground.png');
    background-attachment: fixed; /* Enables parallax effect */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

/* buttons */
button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    transition: opacity 0.3s, transform 0.2s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(0.9);
}

/* icons */
.icon {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.tabBar{
    width: 90%;
    display: flex;
    box-sizing: border-box;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 5px;

}

.tabLabel{
    font-size: 14px;
    color: white;

    margin-right: 5px;

}

/*---DEFAULT LAYOUT----*/

#portfolioContainer {
    width: 85%;
    max-width: 1500px;
    height: 80vh; 

    margin: 0 auto;

    background-color: #121619;
    border: 4px solid #5E9286;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    flex: 0 0 auto;

    overflow: hidden; 
    box-sizing: border-box;

}

#topBar {
    height: 30px; 
    width: 100%;
    flex: 0 0 30px; /* Fixed height */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    border-bottom: 4px solid #5E9286;
    box-sizing: border-box;

}

#middleSection {
    display: flex;
    flex-grow: 1;
    height: 100%; 
    overflow: hidden;
}

#characterCustomizationContainer {
    flex: 0 0 auto; 
    width: 30%; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    /* background-color: rgb(112, 203, 121); */
    border-right: 2px solid #5E9286;
    box-sizing: border-box;

}

#playerTimelineContainer{
    flex: 0 0 auto; 
    width: 50%; 
    height: 100%;

    display: flex;
    flex-direction: column;

}

#portfolioPlayerContainer {
    flex: 0 0 auto;
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-left: 2px solid #5E9286;
    border-right: 2px solid #5E9286;
    border-bottom: 2px solid #5E9286;

}

#accTimeVolContainer {
    flex: 0 0 auto;
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;

    border-top: 2px solid #5E9286;
    border-left: 2px solid #5E9286;
    border-right: 2px solid #5E9286;

}

#accessibilityEditor {
    flex: 0 0 auto; 
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-right: 2px solid #5E9286;

}

#timelineContainer {
    flex: 0 0 auto; 
    width: 80%; /* Fixed width */
    flex: display;
    flex-direction: column;
    
    border-left: 2px solid #5E9286;
    border-right: 2px solid #5E9286;
    
}

#volumeViewer {
    flex: 0 0 auto; 
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    
    border-left: 2px solid #5E9286;

}

#rightContainer{
    flex: 0 0 auto;
    width: 20%;
    max-height: 100%;

    display:flex;
    flex-direction: column;

    border-left: 2px solid #5E9286;
    box-sizing: border-box;

    position: relative;

}

#projectSelector{
    flex: 0 0 90%; 
    height: 600px; /* Fixed height */
    max-height: 600px;

    overflow-y: auto;
    overflow-x: hidden;
    
    position: relative;
    display: flex;
    flex-direction: column;

}

#socialsContainer{
    width: 100%;
    flex: 0 0 10%; 

    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 5px;
    box-sizing: border-box;
    border-top: 2px solid #5E9286;
    background-color: #121619;

}

/*---1. TOP BAR----*/
.windowButtons{
    width: 50px;
    height: 20px;

    object-fit: contain;

    margin-left: 10px;
    margin-right: 20px;

}

.topBarButtons {
    display: flex; 
    justify-content: flex-start;
    gap: 10px; 
}

.topBarButtons button {
    font-size: 16px;
    font-weight: 200;
    color: white;
}

.topBarButtons button{
    font-size: 16x;
    font-weight: bold;
    color: white;
}
.portfolioTitle{
    font-size: 16px;
    color: #FB3F58;

    align-self: center;  /* Vertically center the portfolioTitle */
    margin-left: auto;   /* Push it to the center */
    margin-right: auto; 
    
}

/*---2. CHARACTER CUSTOMIZER----*/

.personalIntroduction {
    font-size: 16px;
    padding: 10px;
}

#characterViewer{
    width: 280px;
    height: 200px;

    background-color: #5D9386;
    box-sizing: border-box;
    border: 15px solid #FB3F58;
    border-radius: 8px;

}

#characterCustomizerToggleContainer{
    width: 280px;
    height: 200px;

    background-color: #5D9386;
    border-radius: 8px;

}

.customizeToggleBox{
    width: 300px;
 
}

#fidgetZone{
    width: 280px;
    height: 80px;
    border-radius: 8px 8px 0 0;
    
    background-color: #2e373e;

}

/*---3. PORTFOLIO PLAYER----*/

.projectName{
    font-size: 14px;
    color: white;
}

#projectViewWindow{
    width: 90%;
    flex: 10;

    background-color: #3a3e42;
    margin: 0 auto;
    border-radius: 8px;

    object-fit: cover;
    overflow: hidden;

}

#projectViewWindow img,
#projectViewWindow iframe,
#projectViewWindow canvas {
    max-width: 100%; /* Fit within the container's width */
    max-height: 100%; /* Fit within the container's height */
    object-fit: contain; /* Maintain aspect ratio without cropping */
    border-radius: 8px; /* Optional: Add rounded corners */
    display: block; /* Prevent inline alignment issues */
}

#projectControllerContainer{
    width: 100%;
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#forwardBackwardButtonsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#forwardButton, #backwardButton{
    width: 20px;
    display: flex;
    align-items: center;
    object-fit: contain;
    justify-content: center;

}

#resizeBarDeco{
    width: 90%;

}

/*---4.ACCESSIBILITY TOGGLES----*/

#themeChangeButton, #fontChangeButton{
    width: 30px;
    height: 30px;

    margin: 5px;
    display: flex;
    align-items: center;
    object-fit: contain;
    justify-content: center;

}

#themeChangeButton img, #fontChangeButton img{
    width: 20px;
    height: 20px;
}

/*---5.TIMELINE PLAYER----*/

/*---6. VOLUME----*/
#volumeBar{
    width: 10px;
    height: 90%;

    background-color: #3a3e42;
}

#volumeViewer img{
    height: 90%;
    width: auto;
}

/*---7. PROJECTS----*/

.accordionLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #5E9286;
    padding: 5px;

}

.accordionTitle {
    width: 80%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.accordionContent {
    padding: 10px;
    display: none; 
    color: #f0f0f0;

    max-height: 100%;     
    overflow-y: auto; 
}

.accordionItem.active .accordionContent {
    display: block; 
}

.projectShowcase {
    width: 90%; 
    max-width: 400px;
    margin: 10px auto; 
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectShowcase img {
    width: 100%; 
    max-height: 120px; 
    object-fit: fit;
    border-radius: 8px; 

}

.projectShowcase h1 {
    font-size: 14px;
    font-weight: 300;

}

/* toggle switch*/

.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #5D9386;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .accordionButton {
    display: inline-block;
    vertical-align: middle;
  }
  

/*---8. SOCIALS CONTAINERS----*/

.socialButton{
    height: 60px;
    width: 60px;
    background-color: #5D9386;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;    
    align-items: center;
    overflow: hidden;
    
}

.socialButton:hover {
    background-color: #4e796e;
}

.socialButton img{
    width: 80%;
    height: 80%;
}

.socialButton:hover img {
    filter: brightness(70%);
}

/*---ABOUT ME POPUP----*/
.closeButton{
    width: 15px;
    height: 15px;

    position:absolute;
    top: 0;
    left: 0;    
    margin: 15px;

    background-image: url('../assets/icons/cross.png');
    background-size: cover; 
    z-index: 1001;

}

.popup {
    width: 800px;
    max-width: 60%;
    height: 500px;

    background-color: #121619;
    border: 4px solid #5E9286;
    border-radius: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    opacity: 0; 
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: auto;
    transition: transform 0.3s, opacity 0.3s;

}

.popup.active{
    transform:translate(-50%,-50%) scale(1);
    opacity: 1;

}


.popupContent{
   height: 80%;
    
    flex: 1;
    display:flex;
    flex-direction: column;
    padding: 20px;

}

.popupContent h2, .popupContent h3, .popupContent p {
    margin: 10px;

}

.logoHeader {
    height: 60px;

    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.logoHeader h1 {
    font-size: 26px;
}

.logoHeader img{
    width: 50px;
    object-fit: contain;
    -webkit-filter: invert(100%); 
    filter: invert(100%);

}

.popupImage{
    flex: 2;
    height: 450px;
    width: 100%; 
    border-radius: 25px; 
    object-fit: cover;
    padding: 10px; 
    display: block; 
    overflow: hidden; 

}

#backgroundOverlay{
    position: fixed;

    background-color: rgb(0,0,0,0.5);
    pointer-events: none;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;

    opacity: 0;
}

 #backgroundOverlay.active{
    opacity: 1;
    pointer-events: all;
    transition: opacity 200ms ease-in-out;

 }